@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  background-image: url("src/images/abstract_background.jpg");
  background-size: 350%;
  background-position: bottom;
  background-repeat: no-repeat;
  font-family: 'Karla', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
}

/* Mobile */

.main-image {
  width: 60%;
  height: auto;
  margin-bottom: 2em;
}
.main--content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}
.intro-header, .outro-header {
  color: #FA5A3B;
}
.intro-emphasized {
  color: #92A0A9;
  animation: colorChange 6s infinite;
}
@keyframes colorChange {
  0% { color: #5286BF; }
  50% { color: #894D4C; }
  100% { color: #2F3C4A; }
}
.intro-header span, .outro-header span {
  font-family: 'Arvo', 'sans-serif';
  font-weight: bold;
  display: block;
  font-size: 1.9em;
  padding-right: .3em;
}

/* Intro */
.btn-basic {
  @apply inline-block rounded bg-slate-700 px-8 py-3 text-base font-medium text-slate-50 transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-slate-500;
  letter-spacing: .1em;
  font-family: 'Arvo', 'sans-serif';
}

/* Genre */
.genre-message {
  font-family: 'Arvo', 'sans-serif';
  font-size: 2.2em;
  font-weight: bold;
  color: #FA5A3B;
}
.genre-image {
  width: 30%;
}
.genre-btn {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Quiz */
.answer-default {
  background-color: lightslategrey;
}
.answer-correct {
  background-color: darkseagreen;
}
.answer-wrong {
  background-color: indianred;
}

.answers-variants{
  display: flex;
  flex-direction: column;
  gap: .4em;
  margin-bottom: 1em;
}
.attempts-image {
  width: 80%;
}
.attempts-message {
  font-family: 'Arvo', 'sans-serif';
  font-size: 1em;
  font-weight: bold;
  color: #2F3C4A;
  /*margin-bottom: .8em;*/
}
.quiz-score {
  display: inline-block;
  padding: .7em 1em;
  max-width: 60%;
  border-radius: 8px;
  background-color: #EFBC6B;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-weight: bold;
  font-family: 'Nerko One', 'sans-serif';
  font-size: 1.2em;
  color: #061F56;
}
.quiz-content {
  background-color: #A6B4BD;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 1.2em;
  height: 520px;
  width: 500px;
  justify-content: space-evenly;
  gap: .2em;
}
.lyrics-current {
  font-size: 1.1em;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  padding: .7em 1em;
}
.quiz-lyrics {
  font-family: 'Nerko One', 'sans-serif';
  font-size: 2.5em;
  color: #EFBC6B;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.btn-next {
  @apply inline-block rounded-full bg-amber-900 text-blue-200 hover:text-gray-300 focus:outline-none focus:ring active:text-opacity-75;
  @apply px-6 py-2 font-semibold mt-3 font-nerko text-xl;
}
.btn-answer {
  @apply inline-block rounded bg-slate-500 px-8 py-3 text-base font-medium text-slate-50 transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-slate-500;
}
.skipped-attempts-img{
  width: 70%;
}

/*Finish Quiz*/
.finish-emphasized {
  color: white;
  letter-spacing: .1em;
}
.finish-message {
  font-family: 'Arvo', 'sans-serif';
  font-size: 2em;
  font-weight: bold;
  color: #2F3C4A;
}
.outro-message {
  font-family: 'Arvo', 'sans-serif';
  font-size: 1.7em;
  font-weight: bold;
  color: #061F56;
}

/* Desktop */

@media(min-width: 1000px) {
  body {
    width: 70%;
  }
  .intro-header span, .outro-header span {
    display: inline-block;
    white-space: nowrap;
  }
  .quiz-content {
    padding: 1.2em;
    height: 600px;
    width: 38em;
  }
  .btn-next{
    padding: .9em 1.8em;
    font-size: 1.2em;
  }
  .lyrics-current {
    font-size: 1.4em;
  }
  .quiz-lyrics {
    font-size: 3em;
  }
  .btn-answer, .attempts-message{
    font-size: 1.2em;
  }
  .quiz-score {
    padding: 1em 1.2em;
    font-size: 1.3em;
  }
}
